<div style ="background:#ffffff;border:3px solid #ffffff;border-radius:8px;padding:20px">
<style>
.floatright { float: right; padding-top:3px;padding-left:3px;padding-right:3px;border:2px solid #fff;border-radius:8px;background:#000 }
.content p{font-family: 'ubuntu', sans-serif}
</style>

<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Averia+Libre' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>

<div class ="floatright">
<% if @listing.photo.exists? then %>
	<%= image_tag(@listing.photo.url(:small)) %>
<% end %>
</div>
<br>
<b>
 <% if @listing.user_id == current_user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing),  :class => 'btn btn-success' %> 
  <%= link_to 'Remove', @listing, :confirm => 'Are you sure?', :method => :delete,  :class => 'btn btn-success' %> 
  <%= link_to 'View All Listings', listings_path, :class => 'btn btn-success' %>
<% else %>
  <%= link_to 'View All Listings', listings_path, :class => 'btn btn-mini' %>
<% end %>
</b>

<div class ="content">
<br><br>
  <h3 style ="color:#3B2501"><%= @listing.title %></h3>
<br>

<p>
<b>Food category:</b>
  <%= @listing.food_category.name %>
</p>
<br>

<p>
<b>Description:</b>
  <%= @listing.description.html_safe %>
</p>
<br>

<p>
<b>Start date:</b>
  <%= time_tag @listing.start_date %>
</p>
<br>

<p>
<b>End date:</b>
<%= time_tag @listing.end_date %>
</p>
<br>

<b>Food type:</b><br />
<ol><% @listing.tags.each do |f| %>
<li><%= f.name %></li>
<% end %></ol>
<br>

<p>
<b>Availablity Duration:</b>&nbsp;&nbsp;
<% if ( @listing.end_date - Date.today() ).to_i < 0 %>
<p style = color:darkorange;font-size:20px> <b>"Sorry !..this Listing Has Expired "</b> </p>
<% else %>
<%= distance_of_time_in_words(Time.now, @listing.end_date +  50.minute) %></td>
<% end %>
</p>
<br>

<p>
<b>Suggested Storage:</b>
<%= @listing.eat_by_date.name %>
</p>
<hr>

<p style = "border:3px solid #333333;width:400px;padding:0px;border-radius:8px;">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@listing.latitude}%2C#{@listing.longitude}" %>
</p>
<br />


  <b> 
	<%= pluralize(@listing.comments.size, 'comment') %>
  </b>
  <br>
<style>

#comment
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
border-radius: 8px;
line-height: 130%;
padding : 4px;
}

#avatar
{
float: left;
width: 160px;
}

#content
{
margin-left: 200px;
border-left: 1px solid gray;
padding: 1em;
background:#FAF5F5;
max-width: 36em;
color:#000000;
}

</style>

<% for comment in @listing.comments %>
 <% if user_signed_in? %>

<div id ="comment">

<div id ="avatar" style ="padding-left:25px;padding:20px;">
      <% unless @comment.listing.user.profile.photo? %>
          <%= image_tag("../images/gravatar-60-giveo.jpg",:size =>"50x50") %>
      <% else %>
         <%= image_tag @comment.listing.user.profile.photo.url(:profile)  %>
<% end %>

      <strong style  = color:blue>
         <%= h comment.user.email  %>
     </strong>

      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>

</div>

<div id ="content">
    <%=  comment.body.html_safe %><hr />
<% if comment.user_id == current_user.id %>
 <b><%= link_to 'Edit Comment', edit_comment_path(comment) %></b>
<% end %>

</div>
  <% end %>
</div>

<% end %>
<%= render :partial => 'comments/form' %>


</div>
