<script type="text/javascript">
function hide_additional_information_fields() {
	$('#event_ev_pot').parent().slideUp();
	$('#event_ev_swap').parent().slideUp();
	$('#event_ev_party').parent().slideUp();
	$('#event_ev_collaborative').parent().slideUp();
}

function reset_additional_field_values() 
{
	// Set 'Specify location' to 'N/A'
	$('#event_ev_pot').val('N/A');
	$('#event_ev_swap').val('N/A');
	$('#event_ev_party').val('N/A');
	$('#event_ev_collaborative').val('N/A');
}

function initialize_additional_fields()
{
	var event = $('#event_event_type').val();
	if(event == 'Potluck') {
		$('#event_ev_pot').parent().slideDown();
	} 
	if(event == 'Swap') {
		$('#event_ev_swap').parent().slideDown();
	} 

	if(event == 'Dinner Party') {
		$('#event_ev_party').parent().slideDown();
	} 
	if(event == 'Collaborative Cooking Event') {
		$('#event_ev_collaborative').parent().slideDown();
	} 

	
}

 $(function() {
 	
 	hide_additional_information_fields();
 	reset_additional_field_values();
 	
 	$('#event_event_type').change(function() {
 		hide_additional_information_fields();
 		reset_additional_field_values();
 		var event = $(this).val();
 		if(event == 'Potluck') {
 			$('#event_ev_pot').val('');
 			$('#event_ev_pot').parent().slideDown();
 			$('#event_ev_pot').focus();
 			$('#event_location_id').val('');
 			$('#event_location_id').parent().slideDown();
 			$('#event_location_id').focus();
 			$('#event_food_type').val('');
 			$('#event_food_type').parent().slideDown();
 			$('#event_food_type').focus();
 			$('#event_food_for_people').val('');
 			$('#event_food_for_people').parent().slideDown();
 			$('#event_food_people').focus();
 			
 		} if(event == 'Swap') {
 			$('#event_ev_swap').val('');
 			$('#event_ev_swap').parent().slideDown();
 			$('#event_ev_swap').focus();

 		} 

                  if(event == 'Dinner Party') {
 			$('#event_ev_party').val('');
 			$('#event_ev_party').parent().slideDown();
 			$('#event_ev_party').focus();

 		} 

                  if(event == 'Collaborative Cooking Event') {
 			$('#event_ev_collaborative').val('');
 			$('#event_ev_collaborative').parent().slideDown();
 			$('#event_ev_collaborative').focus();

 		} 

 	});
 	
 	$('#event_event_type').change(function()
 {
 	});
 });
</script>



<div style ="background:#ffffff;border:3px solid #ffffff;border-radius:8px;padding:20px">

<style>
.floatright { float: right; padding-top:3px;padding-left:3px;padding-right:3px;border:2px solid #fff;border-radius:8px;background:#000 }
.content p{font-family: 'Chau Philomene One', sans-serif;color :#006666}
</style>

<%= nested_form_for(@event, :html => {:multipart => :true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>	


  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <b><%= f.label :title %></b>
    <%= f.text_field :name, 
                     :placeholder=>"Food Title",
                     :class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br /><br />

  <div class="styled-select">
    <%= f.label :'Event Type' %>
    <%= select(:event, :event_type,
        ['Swap','Dinner Party','Collaborative Cooking Event','Potluck'], { :prompt => true }) %>

  </div><br />

<div class="field">  
   Potluck  :<br> <%= f.text_field :ev_pot %><br>
   Potluck_location  :<br> <%= f.text_field :location_id %><br>
   Food Type  :<br> <%= f.text_field :food_type %><br>
   Food for_people  :<br> <%= f.text_field :food_for_people %>
</div>

  <div class="field">
    Swap Event Name  :<br> <%= f.text_field :ev_swap %><br>
    <%= f.radio_button  :lis_tings_swap_behaviour, 1 %> Listings enabled but not required<br>

    <%= f.radio_button  :lis_tings_swap_behaviour, 2 %> Listings enabled and required <br>
  
    <%= f.radio_button  :lis_tings_swap_behaviour, 3 %> No Listings enabled<p></p>
  
     Food for people  :<br> <%= f.text_field :food_for_people %>

  </div>

  <div class="field">
   Party  :<br> <%= f.text_field :ev_party %><br>
     Food for people  :<br> <%= f.text_field :food_for_people %>
  </div>

  <div class="field">
   Collaborative  :<br> <%= f.text_field :ev_collaborative %><br>
     Food for people  :<br> <%= f.text_field :food_for_people %>
  </div>


<br/><br />



  <div class="field">
    <%= f.label :Description %>
    <%= f.text_area :event_description,
                    :size => "55x10",
                    :class=>"inner-inputarea-large",
                    :id=>"textarea" %>
  </div><br />

  <div class="field">
    <%= f.label :starting_on %>
    <%= f.date_select :event_starting_on %>
    <%= f.hidden_field :no_of_guests_attending, :value=>0 %>
  </div><br />

<!--  <div class="field">
    <%= f.label :ending_on %><br />
    <%= f.date_select :event_ending_on %>
  </div><br /> -->

  <div class="field">
    <%= f.label :UploadAnImage %>
    <%= f.file_field :photo %>
  </div><br />

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :address,
                     :class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br />

  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street, :class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br />

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city,:class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br />

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip,:class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br />

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state,:class=>"inner-inputbox-large",
                     :id=>"textfield" %><br />
  </div><br />

<%= f.submit :class => 'btn btn-info'  %>

</div>
<br />
<% end %>

