<!doctype html>
<html lang="en">
<head>
	<title>Real Good Food</title>
        <%= stylesheet_link_tag "styles.css" %>
	<link rel="stylesheet" type="text/css" href="print.css" media="print" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
        <%= javascript_include_tag "equalcolumns.js" %>
        <script type="text/javascript" src="js/equalcolumns.js"></script> 
        <%= stylesheet_link_tag "facebox.css" %>
        <%= javascript_include_tag "jquery.js" %>
        <%= javascript_include_tag "facebox.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        loadingImage : '../images/loading.gif',
        closeImage   : '../images/closelabel.png'
      })
    })
  </script>
<link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "MyFontsWebfontsKit.css" %>
<%= stylesheet_link_tag "buttons.css" %>

	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<header> 
                <br/>
		<img src="images/logo.jpg" />

                <br/>
	</header>
	<nav>
		<ul>
			<li class="selected"><a href="/">Home</a></li>
                        <li><a><%= link_to "Events", events_path %></a></li>
                        <li><a><%= link_to "Listings", listings_path %></a></li>
                        <li><a><%= link_to "Groups", groups_path %></a></li>
 			<li><a href="/blogs">Blog</a></li>
 			<li><a href="/join">Join Us</a></li>

		</ul>
	</nav>
	<section id="intro">
		<header>
			<h2>Hello Dear Friend! </h2>
		</header>
		<p>* Do you love cooking? </p><p>* Do you appreciate local or <br/>fresh food?</p><p>* Are you interested in discovering <br/>ethnical food cooked by the <br/>experts with recipes from back <br/>home? </p><p>* So RGF is the right place for you! <br/><br/><a href="#info" rel="facebox" class="button orange">Know More</a> 
</p>
<div id="info" style="display:none;" hidden="true">
    <p> Hey, I'm the 'info' div! </p>
    <p> I look like this: </p>
    <code>
      &lt;div id="info" style="display:none;"&gt; <br/>
        &nbsp;&nbsp;text<br/>
      &lt;/div&gt;
    </code>
  </div>
		<img src="images/rgf1.png" />
</section>

<section id="content">
<ul class="column">

<h2 class="header-alt">Events</h2>
<!--eqblock-->
   <li>
      <section class="block">
	<a href="#"><img src="images/1-thumb.jpg" alt=""  /></a> 
        <h2><a href="#">Coffee 101</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio </p> 
        <a href="#" class="button yellow">Read More</a>
      </section>
   </li>
    <!--eqblock-->

   <li>
      <section class="block">
       <a href="#"><img src="images/2-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">All About Beans</a></h2> 
      <p>Morbi congue auctor interdum. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>
  <!--eqblock-->

    <li>
      <section class="block">
       <a href="#"><img src="images/3-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Compatible Foods</a></h2> 
      <p>Phasellus sit amet metus justo. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>

<!--eqblock-->
    <li>
      <section class="block">
       <a href="#"><img src="images/4-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Coffee Sizzle</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Morbi congue auctor interdum. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>

</ul>

<!--eqblock-->
<ul class="column">
<h2 class="header-alt">Listings</h2>
<!--eqblock-->
<% @listing.each do |l| %>      
  <% if l.photo.exists? then %>
   <li>
     <section class="block">
       <a><%= link_to image_tag(l.photo.url(:thumb)),l  %></a>
       <h2><%= link_to l.title, l %></h2>
<p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio </p> 
        <a href="listings/<%= l.slug %>" class="button yellow">Read More</a>
      </p>
     </section>
   </li>
<br>
  <% end %><% end %>
</ul>
      

	<a href="#"><img src="images/1-thumb.jpg" alt=""  /></a> 
        <h2><a href="#">Coffee 101</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio </p> 
        <a href="#" class="button yellow">Read More</a>
      </section>
   </li>
    <!--eqblock-->

   <li>
      <section class="block">
       <a href="#"><img src="images/2-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">All About Beans</a></h2> 
      <p>Morbi congue auctor interdum. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>
  <!--eqblock-->

    <li>
      <section class="block">
       <a href="#"><img src="images/3-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Compatible Foods</a></h2> 
      <p>Phasellus sit amet metus justo. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>

<!--eqblock-->
    <li>
      <section class="block">
       <a href="#"><img src="images/4-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Coffee Sizzle</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Morbi congue auctor interdum. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>


</ul>

<ul class="column">
  <h2 class="header-alt"> Groups</h2>
<!--eqblock-->
   <li>
      <section class="block">
	<a href="#"><img src="images/1-thumb.jpg" alt=""  /></a> 
        <h2><a href="#">Coffee 101</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio </p> 
        <a href="#" class="button yellow">Read More</a>
      </section>
   </li>
    <!--eqblock-->

   <li>
      <section class="block">
       <a href="#"><img src="images/2-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">All About Beans</a></h2> 
      <p>Morbi congue auctor interdum. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>
  <!--eqblock-->

    <li>
      <section class="block">
       <a href="#"><img src="images/3-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Compatible Foods</a></h2> 
      <p>Phasellus sit amet metus justo. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>

<!--eqblock-->
    <li>
      <section class="block">
       <a href="#"><img src="images/4-thumb.jpg" alt=""  /></a> 
       <h2><a href="#">Coffee Sizzle</a></h2> 
      <p>Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Morbi congue auctor interdum. Curabitur in odio augue. Phasellus sit amet metus justo. </p> 
       <a href="#" class="button yellow">Read More</a>
      </section>
    </li>
                                    </ul>

				    <!--eqblock-->
		</section>
		
	<footer>
    <section>
    <h3>Left Stuff</h3>
    <p>Left aligned text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>Center Stuff</h3>
    <p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>Right Stuff</h3>
    <p>&copy; 2010 <a href="#" title="your site name">yoursite.com</a> All rights reserved.</p>
    <p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    </section>

	</footer>
<!-- Free template created by http://freehtml5templates.com -->
</body>
</html>
